/* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */
#map {
  height: 70%;
  margin-left: 500;
  margin-right: 500;
}
#google_translate_element {
  position: absolute;
  top: 0;
  left: 0;
}
