<!DOCTYPE html>
<html>
  <head>
    <title>Flask App</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
  </head>
  <body>
    <div class="container">
      <p><strong>
        To The MOON ! change the URL on top, add this in the end "/movies" for
        starters
      </strong>
      </p>
      <div class="row">
        <div class="col-md-6">
            <button type="button" class="btn btn-primary" onclick="window.location.href='{{ url_for('get_actors') }}'">Take me there</button>
            <div class="well text-center">Actors</div>
          </a>
        </div>
        <div class="col-md-6">
            <button type="button" class="btn btn-primary" onclick="window.location.href='{{ url_for('get_movies') }}'">Take me there</button>
            <div class="well text-center">Movies</div>
          </a>
        </div>
        </div>
        </div>
  </body>
</html>
