<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link href="/static/css/login.css" rel="stylesheet" />
  </head>
  <body>
    <div class="login-box">
      <h2>Login</h2>
      <form
        method="post"
        action="{{ url_for('login') }}"
        enctype="application/json"
      >
        <div class="user-box">
          <input type="text" name="username" required="" />
          <label>Username</label>
          {% if error %}
          <span class="error">Invalid username or password</span>
          {% endif %}
        </div>
        <div class="user-box">
          <input type="password" name="password" required="" />
          <label>Password</label>
        </div>
        <button type="submit">Submit</button>
      </form>
    </div>
  </body>
</html>
